<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.miu.mapper.TagMapper" >
  <resultMap id="BaseResultMap" type="com.example.miu.pojo.table.Tag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tag_description" property="tagDescription" jdbcType="VARCHAR" />
    <result column="picture_path" property="picturePath" jdbcType="VARCHAR" />
    <result column="x" property="x" jdbcType="REAL" />
    <result column="y" property="y" jdbcType="REAL" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tag_description, picture_path, x, y, area_id, user_id, tag_name, add_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.miu.pojo.table.TagExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.miu.pojo.table.TagExample" >
    delete from tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.miu.pojo.table.Tag" keyProperty="id" useGeneratedKeys="true" >
    insert into tag (id, tag_description, picture_path, 
      x, y, area_id, user_id, 
      tag_name, add_time)
    values (#{id,jdbcType=INTEGER}, #{tagDescription,jdbcType=VARCHAR}, #{picturePath,jdbcType=VARCHAR}, 
      #{x,jdbcType=REAL}, #{y,jdbcType=REAL}, #{areaId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{tagName,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.miu.pojo.table.Tag" useGeneratedKeys="true" keyProperty="id" >
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tagDescription != null" >
        tag_description,
      </if>
      <if test="picturePath != null" >
        picture_path,
      </if>
      <if test="x != null" >
        x,
      </if>
      <if test="y != null" >
        y,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="tagName != null" >
        tag_name,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tagDescription != null" >
        #{tagDescription,jdbcType=VARCHAR},
      </if>
      <if test="picturePath != null" >
        #{picturePath,jdbcType=VARCHAR},
      </if>
      <if test="x != null" >
        #{x,jdbcType=REAL},
      </if>
      <if test="y != null" >
        #{y,jdbcType=REAL},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null" >
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.miu.pojo.table.TagExample" resultType="java.lang.Integer" >
    select count(*) from tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tag
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tagDescription != null" >
        tag_description = #{record.tagDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.picturePath != null" >
        picture_path = #{record.picturePath,jdbcType=VARCHAR},
      </if>
      <if test="record.x != null" >
        x = #{record.x,jdbcType=REAL},
      </if>
      <if test="record.y != null" >
        y = #{record.y,jdbcType=REAL},
      </if>
      <if test="record.areaId != null" >
        area_id = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.tagName != null" >
        tag_name = #{record.tagName,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tag
    set id = #{record.id,jdbcType=INTEGER},
      tag_description = #{record.tagDescription,jdbcType=VARCHAR},
      picture_path = #{record.picturePath,jdbcType=VARCHAR},
      x = #{record.x,jdbcType=REAL},
      y = #{record.y,jdbcType=REAL},
      area_id = #{record.areaId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      tag_name = #{record.tagName,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.miu.pojo.table.Tag" >
    update tag
    <set >
      <if test="tagDescription != null" >
        tag_description = #{tagDescription,jdbcType=VARCHAR},
      </if>
      <if test="picturePath != null" >
        picture_path = #{picturePath,jdbcType=VARCHAR},
      </if>
      <if test="x != null" >
        x = #{x,jdbcType=REAL},
      </if>
      <if test="y != null" >
        y = #{y,jdbcType=REAL},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null" >
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.miu.pojo.table.Tag" >
    update tag
    set tag_description = #{tagDescription,jdbcType=VARCHAR},
      picture_path = #{picturePath,jdbcType=VARCHAR},
      x = #{x,jdbcType=REAL},
      y = #{y,jdbcType=REAL},
      area_id = #{areaId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      tag_name = #{tagName,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>